Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db
Thanatos_app/obj/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.exe
