Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db
Thanatos_app/obj/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.exe
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
Thanatos_app/.vs/Thanatos_app/FileContentIndex/146b44a3-b636-4845-b6cc-dd6359b66ced.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/146b44a3-b636-4845-b6cc-dd6359b66ced.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/893c7118-1e29-4fb0-ad8c-3479579a9b45.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/bf811190-dbc0-4198-83ef-96e37e3f38c6.vsidx
Thanatos_app/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Thanatos_app/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db
Thanatos_app/.vs/Thanatos_app/FileContentIndex/a2209b5e-cc3c-4733-8262-ee8208d1b60b.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/ec8c1339-4726-4108-82b6-389ff8fcaed1.vsidx
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.backup.json
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/bin/Debug/Thanatos_app.exe
Thanatos_app/bin/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.exe
Thanatos_app/obj/Debug/Thanatos_app.frm_recepcionista.resources
Thanatos_app/obj/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.vbproj.GenerateResource.cache
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
