Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db
Thanatos_app/obj/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.exe
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
Thanatos_app/.vs/Thanatos_app/FileContentIndex/146b44a3-b636-4845-b6cc-dd6359b66ced.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/146b44a3-b636-4845-b6cc-dd6359b66ced.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/893c7118-1e29-4fb0-ad8c-3479579a9b45.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/bf811190-dbc0-4198-83ef-96e37e3f38c6.vsidx
Thanatos_app/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Thanatos_app/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Thanatos_app/.vs/Thanatos_app/CopilotIndices/17.14.1368.60722/CodeChunks.db
Thanatos_app/.vs/Thanatos_app/FileContentIndex/a2209b5e-cc3c-4733-8262-ee8208d1b60b.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/ec8c1339-4726-4108-82b6-389ff8fcaed1.vsidx
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.backup.json
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/bin/Debug/Thanatos_app.exe
Thanatos_app/bin/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.exe
Thanatos_app/obj/Debug/Thanatos_app.frm_recepcionista.resources
Thanatos_app/obj/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.vbproj.GenerateResource.cache
.vs/slnx.sqlite
.vs/Thanatos/CopilotIndices/17.14.1368.60722/CodeChunks.db
.vs/Thanatos/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
.vs/Thanatos/FileContentIndex/124cd3f5-0bf5-4406-af3e-7e69d7058894.vsidx
.vs/Thanatos/FileContentIndex/38ec2ee6-33c2-4fff-ab14-bad556e9bd31.vsidx
.vs/Thanatos/FileContentIndex/5cbe829e-099d-4be9-a998-ef98e4f0b438.vsidx
.vs/Thanatos/FileContentIndex/630182e8-f0d6-469b-bdc2-05e23988fdea.vsidx
.vs/Thanatos/FileContentIndex/6a6add0d-d037-4437-9593-b0ec81d1f294.vsidx
.vs/Thanatos/FileContentIndex/76c49b97-dcdc-452f-a970-3f5e48dc040f.vsidx
.vs/Thanatos/FileContentIndex/8413d5b2-ff77-47cb-8338-86265191963b.vsidx
.vs/Thanatos/FileContentIndex/9e759303-624c-451a-9f9c-4a4e611d6f09.vsidx
.vs/Thanatos/FileContentIndex/a222bb60-efd4-4aa0-9369-2dc47e7aa89a.vsidx
.vs/Thanatos/FileContentIndex/eff15cde-3104-4cdc-9121-9907819439a6.vsidx
.vs/Thanatos/v17/.wsuo
.vs/Thanatos/v17/DocumentLayout.json
Thanatos_app/.vs/Thanatos_app/FileContentIndex/37eb02f2-00da-4e58-957d-8d4599188306.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/6d3ed19f-2ffc-4fa3-89ea-6837f86312df.vsidx
Thanatos_app/.vs/Thanatos_app/FileContentIndex/6da981a3-3b0e-4067-ba5e-9897a391e1b5.vsidx
Thanatos_app/.vs/Thanatos_app/v17/.suo
Thanatos_app/.vs/Thanatos_app/v17/DocumentLayout.json
Thanatos_app/bin/Debug/Thanatos_app.exe
Thanatos_app/bin/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Thanatos_app/obj/Debug/Interop.ADODB.dll
Thanatos_app/obj/Debug/Thanatos_app.exe
Thanatos_app/obj/Debug/Thanatos_app.pdb
Thanatos_app/obj/Debug/Thanatos_app.vbproj.AssemblyReference.cache
Thanatos_app/obj/Debug/Thanatos_app.vbproj.CoreCompileInputs.cache
Thanatos_app/obj/Debug/Thanatos_app.vbproj.GenerateResource.cache
Thanatos_app/obj/Debug/Thanatos_app.vbproj.ResolveComReference.cache
Thanatos_app/obj/Release/Interop.ADODB.dll
Thanatos_app/obj/Release/Interop.ADOR.dll
Thanatos_app/obj/Release/Thanatos_app.vbproj.AssemblyReference.cache
Thanatos_app/obj/Release/Thanatos_app.vbproj.ResolveComReference.cache
